## Sequence

* A sequence represents a series or group of data that can be accessed sequentially.
    * Accessed doesn't mean they are stored sequentially.

* Ability to process a  large set of data is a key requirement in any programming language
    * python is one of he preferred languages for data processing/data sciennce and related technologies.
    * As such sequence becomes quite important.
* In simple terms a sequence is somethign that can be accessed using for loop.

* A sequence can either be 
    * stored
    * computed

### Stored Sequences a.k.a collections.

* Most programming languages uses the term "collection" to describe stored sequences
    * they are like STL containters of C++

* Common collections include
    * list ---> dynamic array of values
    * tuple --> readonly fixed array.
    * set --> collection of unqiue values
    * dict ---> collection of key-value pairs
    * string --> collection of characters.

### for loop

* python for loop is different from C styoe for loop.
* it is NOT designed to run from i=0 to i=10
* it core job is to return all items of a sequence one by one.
    * it is like for-each loop of other languages.

```python
for item in sequence:
    use(item)
```

### Common Sequence funcgtionalities

* some functionalities are common across all sequences
    1. **len(sequence)** to return the total items in the sequence
    2. **for-loop** The all can be accessed using for loop
    3. **in** operator
        * can help us check if a given item is part of the sequence.

### Let us define a sequence helper function

In [1]:
def show(seq):
    print(f'type:{type(seq)}\tid={id(seq)}\tlength={len(seq)}')

    for value in seq:
        print(value,end='\t')
    print()

### String is a sequence of characters.

In [2]:
str1= "Hello World"
show(str1)

type:<class 'str'>	id=1740750361456	length=11
H	e	l	l	o	 	W	o	r	l	d

In [3]:
print('i' in str1) # False
print('o' in str1) # True

False
True

## 2. list

* list is equivalent to array of most programming languages
    * unlike an array list is dynamic.
    * It can be compared to 
        * vector of c++
        * ArrayList of java
        * List of c#

* It is 
    * linear
    * indexed
    * mutable
    
* It supports
    * len()
    * in
    * indexer 
    * slicer
* Additional methods
    * append
        * add an item at the end
    * insert
        * insert and item in between

    * remove 
        * avalue
    * pop
        * remove value from a position

    * count
        * returns the total count of a given value in the list


### Creating a List

* we create a list by enclosing values in bracket.

In [4]:
numbers=[2,3,9,2,6]
show(numbers)

type:<class 'list'>	id=1740750300416	length=5
2	3	9	2	6

### common list operations

In [5]:
print(2 in  numbers) # True
print(21 in numbers) # False

True
False

In [6]:
print( numbers.count(2)) # 2
print( numbers.count(3)) # 1
print(numbers.count(5))  # 0

2
1
0

### we can access items using indexer.

In [7]:
numbers=[2,3,9,2,6]

x=0
while x<len(numbers):
    print(numbers[x],end='  ')
    x=x+1

2  3  9  2  6

In [8]:
numbers[3]=20
print(numbers)

[2, 3, 9, 20, 6]

### We can add new items using append or insert function

In [9]:
numbers=[2,3,9,2,6]

numbers.append(11) # goes to the end
numbers.insert(2,5) # inserts '5' at index 2 (between 3 and 9)
print(numbers)

[2, 3, 5, 9, 2, 6, 11]

##### Appdending another List

In [10]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

list1.append(list2)

##### What is the lengh of list1 now?

In [11]:
print(len(list1))
print(list1)

6
[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

### Explanation

* In python a list we don't have a list of numbers or strings.
    * every list is a list of object.
* A list can hold items of different types.
* Even a list is an object
* so we can append a list into another just like any other object.

In [12]:
items=[2,"Hi",False, None, [2,4,5]]

In [13]:
print(items[1].upper()) 
print(items[4][2]) #5

HI
5

### If you want to copy values from one array to anothe you should call "extend"

In [14]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

list1.extend(list2)
show(list1)

type:<class 'list'>	id=1740750300416	length=10
1	2	3	4	5	6	7	8	9	10

### Removing Items from a list

#### 1. remove by value

In [15]:
items=[2,3,9,2,6]
items.remove(9)
print(items)

[2, 3, 2, 6]

In [16]:
items.remove(20)

ValueError: list.remove(x): x not in list

#### 2 remove by position

* we have two different functions for the same.

##### 2.1 pop()

* removes an item by position.
* returns the removed item.

In [17]:
items=[2,3,9,2,6]

print(items.pop(1)) # removes 3
print(items.pop()) # removes last item 6

print(items)

3
6
[2, 9, 2]

##### 2.2 del keyword

* python has **del** keyword to delete an object
* unlike pop() it doesn't return the deleted item.

In [18]:
items=[2,3,9,2,6]

del items[1] #removes 3
del items[1] # removes 9

print(items)

[2, 2, 6]

### Indexers in python

* python indexers are lot more flexible than indexers in most programming languages.
* it supports

##### Negative indexer 

* we can access the items from the end using negative indexer
    * -1 last item
    * -2 is second last item

In [19]:
items=[2,3,9,2,6]

print(items[-1]) # 6
print(items[-3]) # 9
print(items[-len(items)]) #2 (first item)

6
9
2

### accessing invalid index is error

In [20]:
items[100]

IndexError: list index out of range

In [21]:
items[-50]

IndexError: list index out of range

### Slicers

* We can use indexer with range syntax to slice a list
* Here we can supply upto three parameters separated with colon
    * start index (by default 0)
    * end index is exclusive by default len(list)
    * step/gap by default 1

* slicer creates a new list.

In [22]:
numbers=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
show(numbers)

type:<class 'list'>	id=1740756656192	length=21
0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20

##### take all items from index 5 (Inclusive) to 15(Exclusive)

In [23]:
x= numbers[5:15]
show(x)

type:<class 'list'>	id=1740756772800	length=10
5	6	7	8	9	10	11	12	13	14

### get every third value between index 4 and 18(excluding)

In [24]:
x= numbers[4:18:3]
show(x)

type:<class 'list'>	id=1740756533312	length=5
4	7	10	13	16

### Get All items starting from index 5 (upto the last)

In [25]:
x=numbers[5:]
print(x)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Get every third from the list
* note we must provide two colons to identify 3 represents the gap

In [26]:
x= numbers[::3]
print(x)

[0, 3, 6, 9, 12, 15, 18]

#### Make a duplicate of the list taking all items

In [27]:
x= numbers[:]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [28]:
show(numbers)
show(x)

type:<class 'list'>	id=1740756656192	length=21
0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20
type:<class 'list'>	id=1740756764736	length=21
0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20

### Equals vs is

* **is** identifies if we are talking about the **exact same object**
* **==** idenfies of the two objects can be **treated equal** to each other

* In the above example numbes and x have same values
    * they can be considered equal (==)
* But they are not same object
    * they can be considered same.

In [29]:
numbers==x

True

In [30]:
numbers is x

False

### Reverse a List

In [31]:
r= numbers[::-1]
print(r)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Tuple 

* is a 
    * linear
    * indexed
    * **immutable**
    * collection 

* It is a like a readonly fixed size array

* it supports
    * indexer to read values
    * negative indexer
    * slicer
    * in
    * count
    * for-loop

* It doesn't support
    * indexer to set value
    * append
    * extend
    * index
    * remove
    * pop   
    * del 

### Creating a tuple.

* A tuple is created by wrapping a values in parentheses.

In [32]:
list=(2,3,9,2,6)
show(list)

type:<class 'tuple'>	id=1740756752784	length=5
2	3	9	2	6

In [33]:
print( 2 in list) # True
print( 5 in list) # False
print(list.count(2)) #2
print(list.count(5)) #0

True
False
2
0

In [34]:
list[-1]

6

In [35]:
list[::-1]

(6, 2, 9, 3, 2)

In [36]:
list[0]=10

TypeError: 'tuple' object does not support item assignment

In [37]:
list.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
del list[1]

TypeError: 'tuple' object doesn't support item deletion

### Special cases in Tuple

* How to create a tuple of 1 item?

In [39]:
list=(1) # this is not a tuple but an expression with value 1

print(type(list),list)

<class 'int'> 1

### spcial syntax: tuple of 1 item

In [40]:
list=(1,) # a trailing comma indeicates a tuple

show(list)

type:<class 'tuple'>	id=1740752081952	length=1
1

In [41]:
list

(1,)

### set

* A set is a 
    * non linear
    * mutable
    * collection of unqiue values.

* It supports
    * for loop
    * in
    * add
        * duplicate values are silently ignored.
        * no error
    * remove (value)

* It doesn't support
    * indexer in any form.
        * ~~get/set~~
        * ~~negative~~
        * ~~slicer~~
    * count
    * delete from position (pop,del)

* Special Set opertations
    * supports common operations from set theory
        * union
        * intersection
        * difference
        * issubset
        * isdisjoint

### Creating a set

* we create a set by enclosing values in braces.
* the order of storage is NOT guranteed
* Ineternally it uses Hash data structure
    * it will have very fast performance in terms of searching the presence of an item using **in**

In [42]:
s1={2,3,9,2,6} #duplicates will be removed.

show(s1)

type:<class 'set'>	id=1740750532480	length=4
9	2	3	6

In [43]:
s1.add(5) # will be added
s1.add(6) # will not be added

In [44]:
show(s1)

type:<class 'set'>	id=1740750532480	length=5
2	3	5	6	9

In [45]:
s1[0]

TypeError: 'set' object is not subscriptable

### common set theory operators.

In [46]:
U={1,2,3,4,5,6,7,8,9,10}
evens={0,2,4,6,8,10}
odds={1,3,5,7,9}
f5={5,10}

In [47]:
odds.issubset(U) # odds is subset of U

True

In [48]:
evens.issubset(U) # False. evens has an extra item 0

False

In [49]:
evens.isdisjoint(odds) #True

True

In [50]:
evens.isdisjoint(f5) #False. 10 is a common item

False

In [51]:
evens.union(f5) # all unqiue items from 2 sets

{0, 2, 4, 5, 6, 8, 10}

In [52]:
evens.intersection(f5) # all common items from 2 sets

{10}

In [53]:
evens.difference(f5) # all items in present in evens but not in f5

{0, 2, 4, 6, 8}

In [54]:
f5.difference(evens) # all items present in f5 but not in evens

{5}

## dict (Dictionary)

* It is 
    * non-linear
    * mutable
    * collection of key-value pairs
* keys must be unqiue
    * key can be any object

* It supports
    * indexer with 'key' as index
    * add
    * remove key
    * in to see if key is present

### Creating a dict

* we enclose key value pairs separated with colon in  brace

In [55]:
country_info={ 'IN':'India', 'UK':'United Kingdom', 'JP':'Japan', 91: "India"}

print(country_info)

{'IN': 'India', 'UK': 'United Kingdom', 'JP': 'Japan', 91: 'India'}

#### for loop loops over keys (by default)

In [56]:
for x in country_info:
    print(x, end='\t')

IN	UK	JP	91

#### in searches for key not value

In [57]:
print( 'JP' in country_info) #True
print( 91 in country_info) # True
print('Japan' in country_info) #False. Only key is searched.

True
True
False

### We can access or modify using indexer

In [58]:
print(country_info['IN']) #India
print(country_info[91]) #India
print(country_info['JP'])   #Japan

India
India
Japan

### Invalid key leads to Key Error

In [59]:
country_info['PK']

KeyError: 'PK'

### We can add / update values using indexer

In [60]:
country_info['UK']="Great Britain" # repalces prevous value for the same key

country_info['FR']="France" # adds new key value pair

In [61]:
country_info

{'IN': 'India',
 'UK': 'Great Britain',
 'JP': 'Japan',
 91: 'India',
 'FR': 'France'}

### Accessing All key value using for loop

* there can be couple of ways

##### Approach #1 loop throug keys. access values using indexer

In [62]:
for key in country_info:
    print(key, country_info[key])

IN India
UK Great Britain
JP Japan
91 India
FR France

#### Approach #2 Access key value pair using items() function
* item returns each key value pair as tuple

In [63]:
for item in country_info.items():
    print(item)

('IN', 'India')
('UK', 'Great Britain')
('JP', 'Japan')
(91, 'India')
('FR', 'France')

In [64]:
for item in country_info.items():
    print(item[0],item[1])

IN India
UK Great Britain
JP Japan
91 India
FR France

#### destructuring a tuple

* tuple value can automatically be destrcutred in variables

In [65]:
for code,name in country_info.items():
    print(code,name)

IN India
UK Great Britain
JP Japan
91 India
FR France

### To access only values

In [66]:
for name in country_info.values():
    print(name,end='\t')

India	Great Britain	Japan	India	France

### Accessing values using get() instead of indexer

* dict provides **get** as an alternative of indexer to access values of a given key
* both get and indexer works in the exact same way if the key is valid and present.

In [67]:
print(country_info['IN']) #India
print(country_info.get('JP')) #Japan

India
Japan

### How is get and indexer different.

* If the key is NOT present
    * indexer raises KeyError.
    * get() can return a default value of users choice.
        * if no default value is given it returns None.

In [68]:
print(country_info['PK'])
print(country_info['FR'])

KeyError: 'PK'

In [69]:
test_keys=['IN','PK','FR','DE','JP']

for key in test_keys:
    name = country_info.get(key, '<not found>')
    print(key,name)

IN India
PK <not found>
FR France
DE <not found>
JP Japan

In [70]:
test_keys=['IN','PK','FR','DE','JP']

for key in test_keys:
    name = country_info.get(key)
    print(key,name)

IN India
PK None
FR France
DE None
JP Japan

## Assignment 2.2

* Write a function **frequency** to create a frequencey table for a given sequence of values

--- 
```python
    values=[2,9,2,2,1,9,2,2,4,9,2,2,6]

    f = frequency(values) # {2:7, 9:3, 1:1, 4:1, 6:1}

```
---

* write a funcitom **print_freuqency table** to print the frequency in tabluar form


* write a function **plot_hitogram** to plot a histogram from a given frequencey table


--- 
```python
    plot_histogram({2:7, 9:3, 1:1, 4:2, 6:1})

```
---
 
<pre>
2 | === === === === === === === 7
9 | === === ===  3
1 | ===  1
4 | === ===  2
6 | ===  1
</pre>

### Assignment #1

* to generate frequency_distribution_table for a given series.
* function should take
    * list of values
* should return a dictionary 
    * key: item
    * value: frequency of item.

In [71]:
def count(list,item):
    total=0
    print(f'counting {item}',end=" ")
    for value in list:
        if value==item:
            total=total+1
    print(f'total {total}')
    return total
def frequency(list):
    result={} #empty dictionary.

    for value in list:
        result[value]= count(list,value) #list.count(value)

    return result

In [72]:
values=[2,9,2,2,1,9,2,2,4,6,9,2,2,6]

In [73]:
f= frequency(values)
print(f)

counting 2 total 7
counting 9 total 3
counting 2 total 7
counting 2 total 7
counting 1 total 1
counting 9 total 3
counting 2 total 7
counting 2 total 7
counting 4 total 1
counting 6 total 2
counting 9 total 3
counting 2 total 7
counting 2 total 7
counting 6 total 2
{2: 7, 9: 3, 1: 1, 4: 1, 6: 2}

### Problem complexiting is O(n^2)

* this is worse complexity
* for a list of n item we need n*n loo
* for each item we loop through entire loop again.

### Frequency V2

* we are trying to eliminate recounting

In [74]:
def frequency(list):
    result={} #empty dictionary.

    for value in list:
        if  value not in result:
            result[value]= count(list,value) #list.count(value)

    return result

In [75]:
frequency(values)

counting 2 total 7
counting 9 total 3
counting 1 total 1
counting 4 total 1
counting 6 total 2

{2: 7, 9: 3, 1: 1, 4: 1, 6: 2}

### Design benefit

* If in frequency table there will be 'm' unqiue keys the complexity will be O(m*n)
    * we loop each the entire list of "n" items for every unique key "m"

* since in real world m<<n 
    m*n << n*n

* for a 10 lack item distribution in months
    * first logic will hav 10lac*10lac loop
    * second logic will have 12*10lac loop

### Taking the Advantage of Dictionary

In [76]:
def frequency(values):
    result={}
    for value in values:
        if value in result:
            result[value]+=1
        else:
            result[value]=1

    return result

In [77]:
frequency(values)

{2: 7, 9: 3, 1: 1, 4: 1, 6: 2}

### Advantage

* complexity is no O(n)
* to loop through n items we are looping on n time.

### Assignment 2 Frequency Table

In [82]:
def frequency_table(f_dict):
    print(f'{"key".center(20)} | {"value".center(20)}')
    print('-'*43)
    for key,value in f_dict.items():
        
        print(f'{str(key).rjust(20)} | {str(value).rjust(20)} ')
    print('-'*43)

In [83]:
x=frequency(values)

In [84]:
frequency_table(x)

        key          |        value
-------------------------------------------
                   2 |                    7
                   9 |                    3
                   1 |                    1
                   4 |                    1
                   6 |                    2
-------------------------------------------

In [111]:
str1(20)

TypeError: 'str' object is not callable

In [112]:
str1

'Hello World'

### Histogram

In [85]:
def histogram(f_table):
    design='=== '
    for key,value in f_table.items():
        print(f'{key} | {design*value} {value}')

In [86]:
histogram(f)

2 | === === === === === === ===  7
9 | === === ===  3
1 | ===  1
4 | ===  1
6 | === ===  2

## Computed Sequence.

* A computed sequence is a sequence whose values are computed on the fly instead of being stored somewhere.
* the value may come from
    * some formula
    * some external source like
        * file
        * network 


### range function

* range returns a computed sequence of values in a given min - max (exclusive) range.

* it has 3 forms


#### range(max)

* returns all values from 0 to max-1

In [87]:
x = range(10)
print(x)

range(0, 10)

In [88]:
for i in x:
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

### range(min,max)
* min is inclusive
* max is exclusive

In [89]:
x=range(10,20)
show(x)

type:<class 'range'>	id=1740752104272	length=10
10	11	12	13	14	15	16	17	18	19

### range(min,max,gap)

* the value will be incremented by gap

In [90]:
x=range(0,100,5)
show(x)

type:<class 'range'>	id=1740733411760	length=20
0	5	10	15	20	25	30	35	40	45	50	55	60	65	70	75	80	85	90	95

### Use case: convert for loop to c like for loop

In [92]:
for i in range(5):
    print(i,'Hello World')

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

### compact if expression.

* python defines a compact if expression
* it can be compared to C style ternary operator.

#### C/Java style ternary operator
--- 
```c
x = condition ? true_value : false_value
```
--- 

#### Same thing can be done in python using compact if expression


---
```python
x = true_value if condition else false_value
```
--- 

#### it can be used as part of some expression

* unlike standard if it can be a part of some expression.

### Compact for expression

* A for expression is generally used to generate a sequence
* the model is 

```python

result = [ value for value in values]

```

* Here we are generating a list using values from another sequence.

### Example #1 create a set containing all keys from country_info dict

In [95]:
keys= {key for key in country_info}

print(keys)

{'UK', 'JP', 'FR', 'IN', 91}

### Create a list of all values in the range

In [96]:
values = [value for value in range(20,40)]

print(values)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

### for and if expression can be combined.

In [97]:
values=[2,9,11,13,5,15,2,18,6,4,18,12,31]

### How can we create a list of all primes from the above list?

In [98]:
import primeutils as p

In [99]:
primes = [ number for number in values if p.is_prime(number)]

In [100]:
primes

[2, 11, 13, 5, 2, 31]

### frequency v3

In [102]:
def frequency(values):
    result={}
    for value in values:
        result[value]=result.get(value,0)+1

    return result

In [104]:
values=[2,9,2,2,1,9,2,2,4,6,9,2,2,6]

f=frequency(values)

histogram(f)

2 | === === === === === === ===  7
9 | === === ===  3
1 | ===  1
4 | ===  1
6 | === ===  2